[submodule "notification_with_pool"]
	path = notification_with_pool
	url = https://github.com/maojiu-bb/notification_with_pool.git
[submodule "tiktok_app_events_ios"]
	path = tiktok_app_events_ios
	url = https://github.com/maojiu-bb/tiktok_app_events_ios.git
[submodule "flutter_native_alert_kit"]
	path = flutter_native_alert_kit
	url = https://github.com/maojiu-bb/flutter_native_alert_kit.git
[submodule "floating_window_android"]
	path = floating_window_android
	url = https://github.com/maojiu-bb/floating_window_android.git
[submodule "biometric_authorization"]
	path = biometric_authorization
	url = https://github.com/maojiu-bb/biometric_authorization.git
[submodule "flutter_permission_kit"]
	path = flutter_permission_kit
	url = https://github.com/maojiu-bb/flutter_permission_kit.git
